mat-card {
    max-width: 400px;
    margin: 2em auto;
    
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
 .create-new-account-btn{
    text-align: left;
    background: none;
    color: blue;
    border: none;
 }
 .body-color{
    background-image: linear-gradient(to right,#f8fbff, #e0edf8);
    height: 100%;
 }

 .example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
