<div class="body-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
             <div class="signin-content">
                 <mat-card>
                   <mat-card-content>
                     <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                       <h1 class="fw-bold">Login</h1>
                       <mat-form-field class="full-width-input">
                         <mat-icon matPrefix>account_circle</mat-icon>
                         <input matInput 
                             placeholder="Email" 
                             formControlName="email">
                         <mat-error *ngIf=" ( form['email'].touched) && form['email'].hasError('required')">required</mat-error>
                         <mat-error *ngIf=" (form['email'].dirty && form['email'].touched) && form['email'].hasError('email')">Invalid email id</mat-error>
                       </mat-form-field>
                       <mat-form-field class="full-width-input">
                         <mat-icon matPrefix>lock</mat-icon> 
                         <input matInput 
                            type="password" 
                            placeholder="Password" 
                            formControlName="password" >
                            <mat-error *ngIf=" (form['password'].touched) && form['password'].hasError('required')">required</mat-error>
                            <mat-error *ngIf="(form['password'].dirty && form['password'].touched) && form['password'].hasError('pattern')">Password must contain more than 8 characters, 1 upper case letter, and 1 special character</mat-error>
                       </mat-form-field><br><br>
                       <button class="full-width-input" 
                       mat-raised-button 
                          color="primary"
                          type="submit"
                          [disabled]="loginform.invalid">
                               LOG IN
                       </button>
                     </form><br>
                       <button class="create-new-account-btn"
                          (click)="registerUser()"
                          type="button">
                               Create new account?
                       </button>
                   </mat-card-content>
                 </mat-card>
               </div>
            </div>
        </div>
     </div>
</div>



