<div class="container">
   <div class="row">
       <div class="col-12">
        <div class="signin-content">
            <mat-card>
              <mat-card-content>
                <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                  <h2>Login</h2>
                  <mat-form-field class="full-width-input">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input matInput placeholder="Email" formControlName="userName" required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
                      Please inform your user name
                    </mat-error> -->
                  </mat-form-field>
                  <mat-form-field class="full-width-input">
                    <mat-icon matPrefix>lock</mat-icon> 
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
                      Please inform your password
                    </mat-error> -->
                  </mat-form-field>
                  <button class="full-width-input" mat-raised-button color="primary" type="submit">Login</button>
                </form>
                <a>Create new account?</a>
              </mat-card-content>
            </mat-card>
          </div>
       </div>
   </div>
</div>



