<div style="height:100%;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon class="flight-icon">flight_takeoff</mat-icon>&nbsp;&nbsp;
      <span>Booking.com</span>

      <span class="menu-spacer"></span>
      <div class="example-button-row">
        <button mat-button (click)="navigateToDashboard()">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </div>
      <div fxShow="true" fxHide.lt-sm>
        <ng-container *ngIf= "isUserLoggedIn | async as loginApiRes" class="login-icon" >
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <img src="{{loginApiRes?.additionalUserInfo?.profile?.picture}}"
                     width="40"
                     height="40"
                     class="rounded-circle"
                     onerror="this.onerror=null;this.src='/assets/dummy-profile-picture.png'">&nbsp;
                     <span>{{loginApiRes?.additionalUserInfo?.profile?.name || loginApiRes?.email?.split('@')[0]}}</span>&nbsp;
                     <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- Lazy rendering
                By default, the menu content will be initialized even when the panel is closed.
                To defer initialization until the menu is open, the content can be provided as an ng-template with the matMenuContent attribute: -->
                <ng-template matMenuContent>
                <p class="dropdown-header">Signed in as</p>
                <p class="email">{{loginApiRes?.additionalUserInfo?.profile?.email || loginApiRes?.email}}</p>
                <hr>
                <button mat-menu-item>
                  <mat-icon>person_outline</mat-icon>
                  <span>Your Profile</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Setting</span>
                </button>
                <button mat-menu-item
                        (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log Out</span>
                </button>
                </ng-template>
              </mat-menu>
            </li>
          </ul>
          
        </ng-container>

        <button *ngIf="!(isUserLoggedIn | async)" (click)="login()" mat-button>Login</button>
        <button *ngIf="!(isUserLoggedIn | async)" (click)="signUp()" mat-button>Signup</button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <button *ngIf="!(isUserLoggedIn | async) && !registration" (click)="login()" mat-button>Login</button>
        <button *ngIf="isUserLoggedIn | async" (click)="logout()" mat-button>Logout</button>
        <button *ngIf="!(isUserLoggedIn | async) && registration" (click)="signUp()" mat-button>Signup</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
