mat-card {
    max-width: 500px;
    margin: 2em auto;

  }
  .signUp-content {
    padding: 20px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
 .create-new-account-btn{
    text-align: left;
    background: none;
    color: blue;
    border: none;
 }
 .body-color{
  background-image: url(/assets/background.jpg);
    height: 100%;
 }
 mat-card {
  opacity: 0.8;
}
