mat-card {
    max-width: 400px;
    margin: 2em auto;
    
  }
  .signUp-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
 .create-new-account-btn{
    text-align: left;
    background: none;
    color: blue;
    border: none;
 }
 .body-color{
    background-image: linear-gradient(to right,#f8fbff, #e0edf8);
    height: 100%;
 }