mat-card {
    max-width: 400px;
    margin: 2em auto;
    
  }

  .forgot-content {
    padding: 60px 1rem;
  }

  .full-width-input {
    width: 100%;
  }

  .body-color{
    background-image: linear-gradient(to right,#f8fbff, #e0edf8);
    height: 100%;
 }

 .example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}