<div class="body-color">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div *ngIf="show" class="forgot-content">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="forgotPasswordForm">
                <h1 class="fw-bold my-4 text-center"></h1>
                <div class="alert alert-danger text-center" role="alert" *ngIf="showErrorOfForgotPassword">
                  {{errorMsg}}
                </div>
                <mat-form-field class="full-width-input">
                  <mat-icon matPrefix>alternate_email</mat-icon>
                  <input matInput 
                      placeholder="Email" 
                      formControlName="email">
                      <mat-error 
                         *ngIf=" ( form['email'].touched) && form['email'].hasError('required')">
                            Email is required.
                      </mat-error>
                      <mat-error 
                         *ngIf=" (form['email'].dirty && form['email'].touched) && form['email'].hasError('email')">
                            Invalid email id
                      </mat-error>
                </mat-form-field>
                <!-- <button class="forgot-password-btn" (click)="forgotPassword=!forgotPassword" type="button">
                  <i class="fa fa-arrow-left"></i>back
                </button> -->
                <button class="full-width-input" mat-raised-button color="primary" type="submit" (click)="sendResetPasswordLink()"
                  [disabled]="forgotPasswordForm.invalid">
                  Send reset password email
                </button>
              </form><br>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="!show" class="forgot-content">
          <mat-card>
            <mat-card-content>
                <h1 class="fw-bold my-4 text-center">Reset your password</h1>

                <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
                <button class="full-width-input" mat-raised-button color="primary" type="submit" (click)="login()">
                  Return to login 
                </button>

            </mat-card-content>
          </mat-card>
        </div>
        
      </div>
    </div>
  </div>
</div>