mat-card {
    max-width: 400px;
    margin: 2em auto;

  }

  .forgot-content {
    padding: 60px 1rem;
  }

  .full-width-input {
    width: 100%;
  }

  .body-color{
    background-image: url(/assets/background.jpg);
    height: 100%;
 }

 .example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-card {
  opacity: 0.8;
}
